.App {
    display: flex;
    flex-wrap: wrap;
}

.recharts-wrapper {
    padding: 20px;
}

.list {
    padding: 20px;
    width: fit-content;
}

.list-item {
    font-size: 14px;
    color: blue;
    font-weight: 500;
    cursor: pointer;
}

.list-item:hover {
    background: yellow;
}

.list .active-item {
    background: yellowgreen;
}

.chartHolder {
    display: flex;
    flex-direction: column;
    padding: 20px;
}